<h1>New speech</h1>

<% form_tag :action => 'create' do %>
  <%= error_messages_for 'speech' %>
  <!--[form:speech]-->
  <label for="speech_date">Date</label>
  <%= datetime_select 'speech', 'date', :discard_hour=>true, :discard_minute=>true  %>
  <!--[eoform:speech]-->
  <br /><br />
  <%= submit_tag "Create" %>
<% end %>
